{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <h3 class="text-center mb-4">ورود به حساب</h3>

    <form method="post" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <!-- Username -->
        <div class="col-md-12">
            <label class="form-label">نام کاربری</label>
            <input type="text"
                   name="{{ form.username.html_name }}"
                   value="{{ form.username.value|default_if_none:'' }}"
                   class="form-control {% if submitted %}{% if form.username.errors %}is-invalid{% else %}is-valid{% endif %}{% endif %}">
            {% if form.username.errors %}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {% if submitted %}
                    <div class="valid-feedback">Looks good!</div>
                {% endif %}
            {% endif %}
        </div>

        <!-- Password -->
        <div class="col-md-12">
            <label  class="form-label">رمز عبور</label>
            <input type="password"
                   name="{{ form.password.html_name }}"
                   class="form-control {% if submitted %}{% if form.password.errors %}is-invalid{% else %}is-valid{% endif %}{% endif %}">
            {% if form.password.errors %}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {% if submitted %}
                    <div class="valid-feedback">Looks good!</div>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary w-100">ورود</button>
        </div>
    </form>
</div>
{% endblock %}





<!--<input name="username" type="text" class="form-control">-->